[submodule "external/Xamarin.PropertyEditing"]
	path = external/Xamarin.PropertyEditing
	url = https://github.com/netonjm/Xamarin.PropertyEditing
[submodule "external/xwt"]
	path = external/xwt
	url = https://github.com/mono/xwt
[submodule "external/FigmaSharp"]
	path = external/FigmaSharp
	url = https://github.com/netonjm/FigmaSharp
